<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Récuperation des Règlements Fournisseurs</h4>

          </div>
          <div class="card-body">
            <div class="button-row float-right">
              <button mat-stroked-button class="btn btn-success mr-2" (click)="Validate()">Confirmer</button>
            </div>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
              <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N BAP </th>
                <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                <td mat-footer-cell *matFooterCellDef>Total </td>
              </ng-container>

              <ng-container matColumnDef="NumFRs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N FSS </th>
                <td mat-cell *matCellDef="let element"> {{element.NumFRs}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="NomPrenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur</th>
                <td mat-cell *matCellDef="let element"> {{element.NomPrenom}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="NumReglement">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N Reglement</th>
                <td mat-cell *matCellDef="let element"> {{element.NumReglement}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="EcheanceReglement">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Echeance</th>
                <td mat-cell *matCellDef="let element"> {{element.EcheanceReglement |date}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>


              <ng-container matColumnDef="MontantRetenu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Retenu </th>
                <td mat-cell *matCellDef="let element"> {{element.MontantRetenu}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>


              <ng-container matColumnDef="MontantTotalEcheance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant Total </th>
                <td mat-cell *matCellDef="let element"> {{element.MontantTotalEcheance}} </td>
                <td mat-footer-cell *matFooterCellDef> {{TotalSolde()}}</td>
              </ng-container>


              <ng-container matColumnDef="EstValide">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Validé </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [checked]="element.EstValide" disabled=true>
                  </mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>


              <ng-container matColumnDef="EstRegle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Réglé </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [checked]="element.EstRegle" disabled=true>
                  </mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="DateValidation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Validation</th>
                <td mat-cell *matCellDef="let element">
                  {{element.DateValidation |date}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="ValiderPar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valider Par </th>
                <td mat-cell *matCellDef="let element"> {{element.ValiderPar}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>



              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row);getObject(row)"
                [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 5, 6, 10, 20]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>