<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title " mat-dialog-title>Affiliation</h4>
            </div>
            <div class="card-body">
                <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
                    <div mat-dialog-actions class="mb-5 align-self-end">
                        <button mat-icon-button color="accent" (click)="addNew()">
                            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="onNoClick()">
                            <mat-icon aria-label="Cancel">cancel</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="Save()">
                            <mat-icon aria-label="dynamic_feed">dynamic_feed</mat-icon>
                        </button>
                    </div>
                    <div [formGroup]="formGroup">
                        <mat-form-field>
                            <mat-label>Role Technqiues</mat-label>
                            <mat-select formControlName="RoleTechnique" [(ngModel)]="RoleFonctionnel.FoncTechRole"
                                multiple>
                                <mat-option *ngFor="let RoleTechnique of RoleTechniques" [value]="RoleTechnique">
                                    {{RoleTechnique.Description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>