<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Préparation des Réglements Fournisseurs</h4>
            <p class="card-category"> DT</p>
          </div>
          <div class="card-body">
            <form class="date-block" [formGroup]="filterForm">
              <div class="date-block__list mt-3 removesapce">
                <mat-label>Date écheance :</mat-label>
              </div>
              <div class="date-block__list">
                <mat-form-field>
                  <input matInput [matDatepicker]="fromDate" placeholder="Du" formControlName="fromDate">
                  <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                  <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="date-block__list">
                <mat-form-field>
                  <input matInput [matDatepicker]="toDate" placeholder="Au" formControlName="toDate">
                  <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                  <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="button-row">
                <button mat-stroked-button class="primary" (click)="applyFilterDate()">Rechercher</button>
              </div>
            </form>

            <div class="row">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Filter par Fournisseur" aria-label="Number" matInput
                  [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.Designation">
                    {{option.Designation}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort matSortStart="desc"
                  (matSortChange)="customSort($event)">
                  <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>

                  <ng-container matColumnDef="RaisonSocial">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Raison Social </th>
                    <td mat-cell *matCellDef="let element"> {{element.RaisonSocial}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                  </ng-container>
                  <ng-container matColumnDef="Prenom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </th>
                    <td mat-cell *matCellDef="let element"> {{element.Prenom}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>


                  <ng-container matColumnDef="Nom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nom}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>


                  <ng-container matColumnDef="FraisGeneraux">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Frais Generaux </th>
                    <td mat-cell *matCellDef="let element"> {{element.FraisGeneraux}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{TotalFraisGeneraux()}} </td>
                  </ng-container>

                  <ng-container matColumnDef="EstMorale">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Est Morale </th>
                    <td mat-cell *matCellDef="let element">
                      <mat-checkbox [checked]="element.EstMorale" disabled=true>
                      </mat-checkbox>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>
                  <ng-container matColumnDef="EstPhysique">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Est Physique </th>
                    <td mat-cell *matCellDef="let element">
                      <mat-checkbox [checked]="element.EstPhysique" disabled=true>
                      </mat-checkbox>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>

                  <ng-container matColumnDef="Solde">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Solde </th>
                    <td mat-cell *matCellDef="let element"> {{element.Solde}} </td>
                    <td mat-footer-cell *matFooterCellDef>{{TotalSolde()}}</td>
                  </ng-container>

                  <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef> Details </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" (click)="redirectToDetails(element.Id)">
                        <mat-icon class="mat-18">reorder</mat-icon>
                      </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>




                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 5, 6, 10, 20]">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>