table{
 width: 100%;
}
tr.mat-footer-row {
    font-weight: bold;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  form{
    padding-bottom: 30px;
  }
  .primary {
    background: #d0cdc9;
    color: white;
}
.button-row {
    display: table-cell;
  }
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }
  
  .date-block{
    display: flex;
  }
  .date-block__list{
    flex-basis: 150px;
    margin-right: 15px;
  }
 
  .removesapce{
      margin-right: -35px;
  }