table{
    width: 100%;
   }
   tr.mat-footer-row {
    font-weight: bold;
  }

  .date-block{
    display: flex;
  }
  .date-block__list{
    flex-basis: 150px;
    margin-right: 15px;
  }
  .form {
    display: flex;
    padding-top: 6px;
  }

  .mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
  background: #999;
}

