<div class="container">
<h3 mat-dialog-title>Préparation des Réglements FSS Local</h3>

<form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
<div mat-dialog-actions>
<button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
         <button mat-icon-button color="accent" (click)="Edit()">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>    
       <button mat-icon-button color="accent" (click)="Delete()">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
         <button mat-icon-button color="accent" (click)="onNoClick()">
          <mat-icon aria-label="Cancel">cancel</mat-icon>
        </button>
         <button mat-icon-button color="accent" (click)="Save()">
          <mat-icon aria-label="dynamic_feed">dynamic_feed</mat-icon>
        </button> 
         <button mat-icon-button color="accent" (click)="Validate()">
          <mat-icon aria-label="done_outline">done_outline</mat-icon>
        </button> 
    </div>
    <div [formGroup]="formGroup">
<div class="form">
    <mat-form-field>
      <input matInput 
        [matDatepicker]="fromDate" 
        placeholder="Echeance" 
        formControlName="Echeance" [(ngModel)]="regDetail.Echeance">
      <mat-datepicker-toggle matSuffix [for]="Echeance"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>
  </div>
<div class="form"> 
<mat-form-field>
 <mat-label>Mode de reglement</mat-label>
  <mat-select [(ngModel)]="regDetail.IdModeReglement" formControlName="ModeReglement"  [formControl]="modeReglementControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let mode of modeReglement" [value]="mode.Id">
      {{mode.Designation}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="modeReglementControl.hasError('required')">Please choose Mode Reglement</mat-error>
</mat-form-field>
</div>
<div class="form">
<mat-form-field>
  <mat-label>Caisse</mat-label>
  <mat-select [(ngModel)]="regDetail.IdCaisse" formControlName="Caisse">
    <mat-option>--</mat-option>
    <mat-option *ngFor="let caisse of caisses" [value]="caisse.Id">
      {{caisse.Designation}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>


<div class="form">
<mat-form-field>
  <mat-label>Banque</mat-label>
  <mat-select [(ngModel)]="regDetail.IdBanque" formControlName="Banque">
    <mat-option>--</mat-option>
    <mat-option *ngFor="let banque of banques" [value]="banque.Id">
      {{banque.Designation}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
 <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Montant" formControlName="Montant" [(ngModel)]="regDetail.Montant" name="Montant">
      </mat-form-field>
    </div>
    </div>
    </form>
<div class="row">

<div class="table-responsive">                      
<table mat-table [dataSource]="datasource" matSort matSortStart="desc" (matSortChange)="customSort($event)">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
     <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    
    <ng-container matColumnDef="Echeance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Echeance </th>
      <td mat-cell *matCellDef="let element"> {{element.Echeance}} </td>
     <td mat-footer-cell *matFooterCellDef>Total </td>
    </ng-container>
    
    <ng-container matColumnDef="IdModeReglement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mode Reglement </th>
      <td mat-cell *matCellDef="let element"> {{element.IdModeReglement}} </td>
     <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="IdBanque">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Banque </th>
      <td mat-cell *matCellDef="let element"> {{element.IdBanque}} </td>
     <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    
   
    <ng-container matColumnDef="Montant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
      <td mat-cell *matCellDef="let element"> {{element.Montant}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row);getObject(row)"
      [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
 </mat-paginator> 
  </div>
  </div>
  
  </div>
               