<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Affilation des roles techniques pour un role fonctionnel </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <button disabled='true' mat-icon-button matSuffix color="accent"
                                                class="ml-2">
                                                <mat-icon type='button' aria-hidden="false"
                                                    aria-label="Example home icon">
                                                    add_circle_outline
                                                </mat-icon>
                                            </button>
                                            <div class="table-responsive">
                                                <table mat-table [dataSource]="dataSourceRoleFonctionnel" matSort
                                                    class="mat-elevation-z8" matSortStart="desc">
                                                    <ng-container matColumnDef="Id">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="Description">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Description
                                                        </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.Description}}
                                                        </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="Operation">
                                                        <th mat-header-cell *matHeaderCellDef></th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <button mat-icon-button matSuffix color="accent"
                                                                (click)="Edit(element.Id)">
                                                                <mat-icon type='button' aria-hidden="false"
                                                                    aria-label="Example home icon">update
                                                                </mat-icon>
                                                            </button>
                                                            <button mat-icon-button matSuffix color="accent"
                                                                (click)="Delete(element.Id)">
                                                                <mat-icon type='button' aria-hidden="false"
                                                                    aria-label="Example home icon">delete
                                                                </mat-icon>
                                                            </button>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row
                                                        *matHeaderRowDef="displayedColumnsRoleFonctionnel"></tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: displayedColumnsRoleFonctionnel;"
                                                        (click)="selection.toggle(row)"
                                                        [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
                                                        (mouseover)="row.hovered = true"
                                                        (mouseout)="row.hovered = false">
                                                    </tr>
                                                </table>
                                                <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 5, 6, 10, 20]">
                                                </mat-paginator>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <button mat-icon-button matSuffix color="accent" class="ml-2"
                                            (click)="Create()">
                                            <mat-icon type='button' aria-hidden="false" aria-label="Example home icon">
                                                add_circle_outline
                                            </mat-icon>
                                        </button>
                                        <div class="table-responsive">
                                            <table mat-table [dataSource]="dataSourceRoleTechnique" matSort
                                                matSortStart="desc">
                                                <ng-container matColumnDef="Id">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Description">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        Description
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.Description}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Operation">
                                                    <th mat-header-cell *matHeaderCellDef></th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <button mat-icon-button matSuffix color="accent"
                                                            (click)="Delete(element.Id)">
                                                            <mat-icon type='button' aria-hidden="false"
                                                                aria-label="Example home icon">delete
                                                            </mat-icon>
                                                        </button>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumnsRoleTechnique">
                                                </tr>
                                                <tr mat-row
                                                    *matRowDef="let row; columns: displayedColumnsRoleTechnique;">
                                                </tr>
                                            </table>
                                            <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 5, 6, 10, 20]">
                                            </mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>